@import 'gw-ui/dist/sass/reset';
@import 'gw-ui/dist/sass/variables';
@import 'gw-ui/dist/sass/mixins';

// Theme Overrides
@import '~sass/setup/mixins';
@import '~sass/setup/variables';
@import '~sass/setup/fonts';

// gw-ui base styles
@import 'gw-ui/dist/sass/base';
@import 'gw-ui/dist/sass/grid';
@import 'gw-ui/dist/sass/typography';
@import 'gw-ui/dist/sass/spacing';

// gw-component styles
// @import 'gw-ui/dist/Input';
// @import 'gw-ui/dist/TextArea';
// @import 'gw-ui/dist/Select';
// @import 'gw-ui/dist/Button';

// gw-ui helper styles
@import 'gw-ui/dist/sass/icons';
// @import 'gw-ui/dist/sass/scrollbars';
// @import 'gw-ui/dist/sass/tooltips';
@import 'gw-ui/dist/sass/animations';

// Site Specific Styles
@import '~sass/setup/globals';
@import '~sass/setup/mg-typography';