@import '~sass/setup';

.footer {
	p {
		font-size: 12px;
		// font-family: 'Pitch', monospace;
		font-family: $secondary-font;
		font-weight: $bold;
		a {
			display: inline-block;
			border-color: transparent;
		}
	}
}